{% extends 'base.html' %}

{% block body %}


<section id="home" style="background-color: rgb(62, 144, 216);">
    <div class="container" >
        <div class="">
            <h1>Todo List</h1>
            <div class="text-center my-5">
                <img src="" alt="" class="rounded-circle shadow object-fit-cover" width="250px" height="250px"  data-aos="fade-left" data-aos-duration="2000">
            </div>
            <h3 class="text-center mt-5">Good Afternoon</h3>
            <div class="text-center fs-5 ">username</div>
        </div>
    </div>
</section>

<section id="list">
    <div class="container">
        <div class="container">
            <div class="my-5">
                <h2 class="text-center d-flex flex-row">
                    Date <div class="bg-white shadow text-white" style="width: 50px; height: 50px;"></div>
                    :<div class="bg-white shadow text-white" style="width: 50px; height: 50px;"></div>
                    :<div class="bg-white shadow text-white" style="width: 50px; height: 50px;"></div>
                </h2>
                <h2 class="text-center d-flex flex-row">
                    Time <div class=" bg-white shadow text-white" style="width: 50px; height: 50px;"></div>
                    :<div class="bg-white shadow text-white" style="width: 50px; height: 50px;"></div>
                    :<div class="bg-white shadow text-white" style="width: 50px; height: 50px;"></div>
                </h2>
            </div>
        </div>
        <div class="container">
            <div class=" rounded-3" style="background-color: rgb(176, 183, 189);">
                <div class="position-relative">
                    <h2 class="p-3 text-dark">Daily Tasks</h2>
                    <i class="p-3 position-absolute top-0 end-0"><i class="fa-solid fa-square-plus" style="font-size: 40px;"></i></i>
                </div>
                <ul class="list-group p-3">
                    {% for i in todo %}
                    <li class="list-group-item" style="background-color: rgb(176, 183, 189);border: rgb(176, 183, 189);">
                        <input class="form-check-input me-1 mt-2" type="checkbox" value="" id="firstCheckbox" {% if i.completed %} checked {% endif %}>
                        <label class="form-check-label" for="firstCheckbox"><h4><a href="" class="text-dark" style="text-decoration:none;">{{ i.title }}</a></h4></label>
                    {% endfor %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>


            

<!-- {% for i in todo %}
            

<h1>id => {{ i.id }}</h1>
<h1>Title => {{ i.title }}</h1>
<h1> Description => {{ i.description }}</h1>
<input type="checkbox" {% if i.completed %} checked {% endif %}><span>Completed</span>
<h1>Created_at => {{ i.created_at }}</h1>
<h1>Updated_at => {{ i.updated_at }}</h1>
<hr>

{% endfor %} -->


{% endblock %}